[package]
name = "currentcost"
version = "0.1.0"
authors = ["Tolien <tolien@users.noreply.github.com>"]
edition = "2018"

[dependencies]
postgres = { version = "0.16.0-rc.1", features = ["with-chrono-0_4" ] }
chrono = "0.4.6"
clap = "2.33.0"
toml = "0.5.0"
serialport = "3.2.0"
simplelog = "0.7.0"
log = "0.4.6"
roxmltree = "0.7.0"

[[bin]]
name = "store"
path = "src/store.rs"

[[bin]]
name = "connect"
path = "src/connect.rs"
