[package]
name = "currentcost"
version = "0.1.0"
authors = ["Tolien <tolien@users.noreply.github.com>"]
edition = "2018"

[dependencies]
postgres = { version = "0.17.1", features = ["with-chrono-0_4" ] }
chrono = "0.4.13"
clap = "2.33.0"
toml = "0.5.6"
serialport = { version = "3.3.0", default-features = false }
log = "0.4.8"
roxmltree = "0.9.1"
fern = { version = "0.5.9", features = ["colored"] }
signal-hook = "0.1.13"

[[bin]]
name = "store"
path = "src/store.rs"

[[bin]]
name = "connect"
path = "src/connect.rs"
